.sp-bg-primary-800 {
    background-color: #da3230 !important;
}

#header .search-form .selectize-input, #header .search-form input[type="search"] {
    background-color: transparent;
}

header#header {
    top: 0;
}

/* override brand accent color */
.sp-badge, input [type="submit"]:hover, a.button-submit:hover, .white-box button:not(.confirm):hover, .white-box .button.primary:hover, #header .logo, #header input.search, ul.dropdown li.hover, ul.dropdown ul a:hover, ul.dropdown ul a:hover .description, ul.dropdown2 ul a:hover, ul.dropdown2 ul a:hover .fa, #navarea a.nav:hover, #navarea a.activeParent, ul.dropdown li:hover > a.activeParent, #header .search.ui-autocomplete-loading, #header .mobile-nav .fa:hover, #header .mobile-nav.active .fa {
    background: #da3230 !important;
}

#wrapper {
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
}

.sp-message {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*#all-messages-container {
    display: flex;
    flex-direction: column-reverse;
}*/

.message-hidden {
    height: 90px;
    overflow: hidden;
}

.sp-theme-dark .sp-redactor-bg-orange .redactor-in, .sp-theme-dark .sp-redactor-bg-orange .redactor-read-only {
    background: var(--color-primary-400) !important;
}

.sp-theme-dark .sp-message.sp-note {
    background-color: var(--color-primary-400);
    border-width: 0;
}

.sp-theme-dark a.sp-button {
    color: var(--color-text-primary);
    background: linear-gradient(92.05deg, var(--color-text-primary) 15%, #da3230 85%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

@media (max-width: 1080px) {
    header#header {
        top: 0;
        position: absolute;
    }

    #wrapper {
        padding-top: 47px;
    }
}
